body {
    background-image: url("https://wallpaperaccess.com/full/5818315.png");
    background-size: 375px 812px;
    background-repeat: no-repeat;
    background-position-x: center;
    
}
#form {
    display: flex;
    justify-content: space-around;
    background-color: #00000063;
    padding: 8px;
    border-radius: 100px;
    margin: 10px 4px 5px 4px;
}
#name {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 130px 50px 20px 50px;
    background-color: #00000015;
    padding: 8px;
    border-radius: 100px;
    

}
#ability1 {
    display: flex;
    justify-content: center;
    margin: -15px 70px 0px 70px;
    background-color: #00000015;
    border-radius: 100%;
}
#ability2 {
    display: flex;
    justify-content: center;
    margin: 1px 70px 20px 70px;
    background-color: #00000015;
    border-radius: 100%;
}
#pokeImg {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 275px;
    width: 275px;
    margin-bottom: 160px;
}
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 30px;
    width: 100px;
    background-color: #00000063;
    padding: 8px;
    border-radius: 10px;
    margin: auto;   
}
 @media only screen and (min-width: 425px) {
     body {
        background-image: url("https://2.bp.blogspot.com/-L3T1V7HgWVE/WGsvTGfCSTI/AAAAAAAATEY/Zdd3jRrxlSkx7lGN45KfdDdvvPRD_EqTQCLcB/s1600/Pokemon%2BWallpapers%2B7.jpg");
        background-size: 1600px 900px
     }
     #form {
        display: flex;
        justify-content: space-around;
        background-color: #00000063;
        padding: 8px;
        border-radius: 100px;
        margin: 10px 850px 5px 450px;
    }
    #name {
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin: 130px 950px 20px 550px;
        background-color: #00000015;
        padding: 8px;
        border-radius: 100px;
        
    
    }
    #ability1 {
        display: flex;
        justify-content: center;
        margin: -15px 1000px 0px 600px;
        background-color: #00000015;
        border-radius: 100%;
    }
    #ability2 {
        display: flex;
        justify-content: center;
        margin: 1px 1000px 20px 600px;
        background-color: #00000015;
        border-radius: 100%;
    }
    #pokeImg {
        display: flex;
        justify-content: center;
        margin-left: 560px;
        height: 400px;
        width: 400px;
        margin-bottom: 50px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 30px;
        width: 100px;
        background-color: #00000063;
        padding: 8px;
        border-radius: 10px;
        margin-left: 720px; 
    }
 }
