.App > h1{
  text-align: center;
}
.Form{
  width:30%;
  min-width: 600px;
  text-align: center;
  margin: 20px auto
}
.Receipts{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Receipt{
  width: 30%;
  min-width: 300px;
  padding:10px;
  border: 3px solid orange
}