<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Biscuff</title>
    <style type="text/css">
        body {
            color: rgb(226, 17, 17);
            background-color: rgb(233, 248, 16);
            }
            </style>
</head>
    <h1>New Biscuff</h1>
    <form action="/bakedgoods" method="POST">
        Name: <input type="text" name="name"/> <br>
        <br>
        Price: <input type="number" name="price"> <br>
        <br>
        Image: <input type="url" name="image">
        <br>
        <br>
    <input type="submit" value="Create Biscoff"/>
    
    </form>
<body>
    
</body>
</html>